html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: #141317;
  }
}

h1 {
  font-size: 2rem;
  font-weight: bold;
  margin: 1rem 0 2rem;
}

h1 span {
  background: linear-gradient(0, #857F99 0 50%, transparent 50% 100%);
  background-size: 120%;
  background-repeat: no-repeat;
  display: inline;
  padding: 0 1rem 0 0.5rem;
}