.container {
  padding: 0 2rem;
}

.header {
  position: sticky;
  top: 0;
  z-index: 2;
  padding: 1rem;
  background-color: #0c0b15;
  color: #e7e7e7;
  box-shadow: 0px 0px 4px 2px rgba(0,0,0,0.83);
}

.innerHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 670px;
}

.headerLeft {
  display: flex;
  align-items: center;
}

.uploadButton {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 35px;
  width: 35px;
  svg {
    fill: white;
  }
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3rem;
  width: 3rem;
  margin-right: 1rem;
  border-radius: 2rem;
}

.logoImg {
  height: 100%;
}

.title {
  font-size: 1.8rem;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.main {
  max-width: 670px;
  margin: 0 0.5rem 6rem;
  padding: 1rem 0.5rem;
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: #e7e7e7;
  color: #0c0b15;
}

.loading {
  display: flex;
  justify-content: center;
  margin-top: 5rem;
}

@media screen and (min-width: 701px) {
  .main, .innerHeader, .innerPlayer {
    margin: 0 auto;
  }
  .main {
    padding: 2rem 1rem;
  }
  .logo {
    height: 4rem;
    width: 4rem;
  }
  .title {
    font-size: 2rem;
  }
}
