.musicList {
  display: flex;
  flex-direction: column;
  max-width: 800px;
}

.musicEntry {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0.5rem 1rem 0.5rem 0.5rem;
  margin-bottom: 1rem;
  background-color: lightgray;
  border-radius: .5rem;
}

.playIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 4rem;
  width: 4rem;
  margin-right: 1rem;
  background-color: black;
  border-radius: 0.6rem;
}

.playIcon:hover {
  cursor: pointer;
}

.song {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
  height: 4rem;
  padding-top: 5px;
}

.duration {
  height: 5px;
  width: 100%;
  background-color: brown;
  border-radius: 3px;
}