.musicList {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.musicEntry {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  background-color: lightgray;
  border-radius: .5rem;
  box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
  user-select: none;
}

.mainEntry {
  display: flex;
}

.more {
  white-space: pre-line; /* or pre-line */
  height: 0;
  line-height: 0;
  overflow: hidden;
  color: transparent;
  transition: line-height 0.2s ease-in-out, color 0.1s 0.2s ease-in-out;
}

.show {
  line-height: 1.1;
  height: 100%;
  color: black;
}

.innerWrapper {
  position: relative;
  margin-top: 1rem;
  padding: 0.5rem;
  border-radius: .5rem;
  background-color: #E7E7E7;
}

.copyLyrics {
  position: absolute;
  top: 1rem;
  right: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2rem;
  width: 2rem;
  border-radius: 0.5rem;
  box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
}

.playIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  height: 4rem;
  width: 4rem;
  margin-right: 0.5rem;
  background-color: rgb(62 56 87);
  border-radius: 0.5rem;
  box-shadow: rgb(0 0 0 / 40%) 0px 2px 4px, rgb(0 0 0 / 30%) 0px 7px 13px -3px, #1A1824 0px -6px 0px inset;
}

.playIcon:hover {
  cursor: pointer;
}

.playIcon svg {
  fill: white;
}

.song {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
}

.titleHead {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.1rem;
  font-weight: 500;
}

.songTitle {
  flex: 1;
  cursor: pointer;
}

.duration {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.3rem;
  font-size: 0.75rem;
}

.progressbar {
  height: 0.4rem;
  width: 100%;
  border-radius: 3px;
  background-color: #bfbccf;
}

.activeProgressbar {
  background-color: rgb(207, 188, 188);
}

.progress {
  height: 0.4rem;
  widtH: 0%;
  border-radius: 3px;
  background-color: #141317;
}

.activeProgress {
  background-color: #A63D3F;
}

.iconList {
  display: flex;
}

.iconList svg {
  fill: #4e4e4e;
  margin-left: 0.5rem;
}

.active {
  .playIcon {
    background-color: #A63D40;
    box-shadow: rgb(155 155 155) 0px 4px 0px inset, rgb(0 0 0 / 26%) 0px -4px 9px inset;
    padding-top: 5px;
  }
}

.durationWrapper {
  display: flex;
  align-items: center;
}

.progressWrapper {
  flex-grow: 1;
}

.repeat {
  margin-left: 0.5rem;
}

.reset {
  margin-right: 0.5rem
}

.reset svg, .repeat svg {
  fill: #4e4e4e;
}

@media screen and (min-width: 700px) {
  .playIcon {
    height: 6rem;
    width: 6rem;
    margin-right: 1rem;
  }

  .titleHead {
    font-size: 1.5rem;
  }
  .progress, .progressbar {
    height: 0.5rem;
  }
  .duration {
    font-size: 1rem;
  }
  .playIcon svg {
    height: 4rem;
    width: 4rem;
  }
}